body, html {
    margin: 0;
    padding: 0;
    font: bold 12px/30px "Arial","Helvetica",sans-serif;
}

.topLine {
    height: 32px;
    width: 100%;
    background-color: #313131;
    font: bold 12px/30px "Arial","Helvetica",sans-serif;
    font-weight: 700;
}

.topLine-nav {
    display: inline-block;
    margin-left: 25%;
    height: 32px;
}

.topLine-nav a {
    vertical-align: baseline;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    outline: 0;
    border: 0;
    text-align: center;
    vertical-align: top;
    font-weight: inherit;
}

.topLine-user {
    display: inline;
    float: right;
    margin-right: 6%;
}

.topLine-user a {
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 20px;
}

.clear {
    clear: both;
}

.menu {
    width: 1200px;
    height: 50px;
    padding: 5px 0;
    font: bold 12px/30px "Arial","Helvetica",sans-serif;
}

.menu-logo {
    display: inline;
    margin: 0 15px 0 0;
    padding: 11px 10px 7px;
}

.menu-logo a {
    color: #121212;
    text-decoration: none!important;
}

.menu-nav {
    display: inline;
}

.menu-nav a {
    color: #121212;
    text-decoration: none;
}

#selected {
    color: #FF0000;
    text-decoration: underline;
}

.menu-search {
    margin-left: 100px;
    display: inline;
}

.mainNews {
    display: inline-block;
    margin: 0 5% 40px 5%;
    max-height: 400px;
}

.mainNews-1 {
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    max-height: 400px;
}

.image1-title {
    background-color: #567fec;
    color: #FFFFFF;
    padding: 10px;
    width: 150px;
    font-size: 13px;
}

.mainNews-1-image-text {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.mainNews-1-image-text h2 {
    color: #FFFFFF;
    font-size: 28px;
    text-align: left;
    padding: 0 15px 15px;
    font-weight: 700;
}

.mainNews-2 {
    display: block;
    float: right;
    width: 50%;
    max-height: 400px;
}

.mainNews-2 .mainNews-2-1 {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    max-height: 200px;
}

.mainNews-2 .mainNews-2-2 {
    margin: -11px 0 0 0 ;
    padding: 0;
    position: relative;
    max-height: 200px;
}

#image1, #image2 {
    display: inline-block;
    width: 50%;
    max-height: 200px;
    margin: 0;
    padding:0;
}

#image3, #image4 {
    display: inline-block;
    margin: 0;
    padding: 0;
    max-height: 200px;
}

#image1{
    float: left;
}

#image3{
    float: left;
}

.mainNews-2-image1-text {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
}

.mainNews-2-image1-text h2 {
    color: #FFFFFF;
    font-size: 14px;
    text-align: left;
    padding: 0 15px 15px;
    font-weight: 700;
}

.mainNews-2-image2-text {
    display: block;
    position: absolute;
    left: 300px;
    bottom: 0;
    width: 50%;
}

.mainNews-2-image2-text h2 {
    color: #FFFFFF;
    font-size: 14px;
    text-align: left;
    padding: 0 15px 15px;
    font-weight: 700;
}

.mainNews-3-image1-text {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
}

.mainNews-3-image1-text h2 {
    color: #FFFFFF;
    font-size: 14px;
    text-align: left;
    padding: 0 15px 15px;
    font-weight: 700;
}

.mainNews-3-image2-text {
    display: block;
    position: absolute;
    left: 300px;
    bottom: 0;
    width: 50%;
}

.mainNews-3-image2-text h2 {
    color: #FFFFFF;
    font-size: 14px;
    text-align: left;
    padding: 0 15px 15px;
    font-weight: 700;
}

.otherNews {
    display: inline-block;
    margin: -10px 5% 0 5%;
    width: 1200px;
    position: relative;
    height: 400px;
    font-weight: inherit;
}

.column1 {
    vertical-align: top;
    width: 25%;
    height: auto;
    display: inline-block;
    background-color: #0055CC;
}

.column2 {
    vertical-align: top;
    width: 25%;
    height: auto;
    display: inline-block;
    background-color: #118F00;
    margin-left: -3px;
    margin-right: -3px;
}

.column3 {
    width: 25%;
    height: auto;
    display: inline-block;
    background-color: #b34b40;
}

.column1-item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    padding: 0 15px;
    box-sizing: border-box;
    overflow: hidden;
}

.column1-item ul {
    padding: 4px 0 20px;
    margin: 0 0 12px;
    text-align: left;
    line-height: 1;
}

.column1-item li {
    display: inline-block;
}

.column1-item a {
    display: inline;
    text-decoration: none;
}

.item-subtext {
    color: #333;
}

.item-time {
    color: #ababab;
}

.column2-item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 15px;
    border-bottom: 1px solid #e3e3e3;
    box-sizing: border-box;
    overflow: hidden;
}

.column2-item a {
    text-decoration: none;
}

.column2-item-image {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 15px;
    border-bottom: 1px solid #e3e3e3;
    box-sizing: border-box;
}

.column3-item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 15px;
    border-bottom: 1px solid #e3e3e3;
    box-sizing: border-box;
    overflow: hidden;
    height: 121px;
}

.column3-item-image {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 15px;
    border-bottom: 1px solid #e3e3e3;
    box-sizing: border-box;
}

.column3-item-image a {
    text-decoration: none;
}